:host {
    font-size: 18px;
    font-family: Consolas;
    color: #888;
}

.array {
    &-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0 40px;
    }
}

.line-container {
    display: flex;
    justify-content: center;
}

.character-container {
    height: 18px;
}

.highlight {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 10px currentColor;
}

.character {
    white-space: pre;
    display: inline-block;
    height: 18px;
    width: 18px;
    position: relative;

    &.aoe {
        color: #26e0ffb2;

        &::after {
            content: "";
            width: 55px;
            height: 55px;
            position: absolute;
            top: -18px;
            left: -13px;
            border-radius: 5px;
            border: 1px currentColor solid;
            box-shadow: 0 0 10px -3px, 0 0 20px -3px inset;
        }
    }
}