<app-puzzle-input-switcher year="2023" day="03" (inputRun)="onInputRun($event)"></app-puzzle-input-switcher>

<div class="array-container">
    <div class="line-container" *ngFor="let line of part1Data">
        <span class="character-container" *ngFor="let character of line">
            <span
                class="character"
                [class.highlight]="character.isHighlighted"
                [class.aoe]="character.hasAreaOfEffect"
            >
                {{character.text}}
            </span>
        </span>
    </div>
</div>

<app-puzzle-answer-printer *ngIf="part1Answer" [part]="1" [answer]="part1Answer" [explanation]="part1Explanation"></app-puzzle-answer-printer>

<div class="array-container">
    <div class="line-container" *ngFor="let line of part2Data">
        <span class="character-container" *ngFor="let character of line">
            <span
                class="character"
                [class.highlight]="character.isHighlighted"
                [class.aoe]="character.hasAreaOfEffect"
            >
                {{character.text}}
            </span>
        </span>
    </div>
</div>

<app-puzzle-answer-printer *ngIf="part2Answer" [part]="2" [answer]="part2Answer" [explanation]="part2Explanation"></app-puzzle-answer-printer>