:host {
    position: relative;
}

#toolbar {
    display: flex;
    justify-content: center;
}

textarea {
    margin: 20px 0;
    resize:vertical;
    background-color: #100c2a !important;
    font-family: "consolas" !important;
}

#run-btn {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}