<div id="toolbar">
    <nb-button-group>
        <button
            nbButtonToggle
            *ngFor="let _ of [].constructor(nbOfExamples); let index = index"
            (click)="onModeChanged(index)"
            [pressed]="index === 0"
        >
            Example input #{{index + 1}}
        </button>
        <button nbButtonToggle (click)="onModeChanged('personal')">Personal input</button>
    </nb-button-group>
</div>

<textarea nbInput fullWidth rows="15" [(ngModel)]="currentInput" (ngModelChange)="isTextAreaPristine = false;"></textarea>

<button *ngIf="!isTextAreaPristine" id="run-btn" size="large" status="primary" nbButton (click)="onRunInput()">
    Run input
    <nb-icon icon="play-circle-outline"></nb-icon>
</button> 