<app-puzzle-input-switcher year="2023" day="01" [nbOfExamples]="2" (inputRun)="onInputRun($event)"></app-puzzle-input-switcher>

<div class="row-container" *ngFor="let row of part1Data">
    <span class="char-string" *ngFor="let charData of row.chars" [class.highlight]="charData.isHighlighted">
        {{charData.char}}
    </span>
</div>

<app-puzzle-answer-printer *ngIf="part1Answer" [part]="1" [answer]="part1Answer" [explanation]="part1Explanation"></app-puzzle-answer-printer>

<div class="row-container" *ngFor="let row of part2Data">
    <span class="char-string" *ngFor="let charData of row.chars" [class.highlight]="charData.isHighlighted">
        {{charData.char}}
    </span>
</div>

<app-puzzle-answer-printer *ngIf="part2Answer" [part]="2" [answer]="part2Answer" [explanation]="part2Explanation"></app-puzzle-answer-printer>
