@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

.nb-theme-dark h2 {
    font-family: 'Signika Negative' !important;
}

body {
    overflow-x: hidden;
    background-color: #151a30;
}