:host {
    display: block;
    background-color: #100c2a;
    padding: 20px;
    margin: 40px 0;
    text-align: center;
}

.puzzle-answer {
    color: #fff;
    text-shadow: 0px 0px 8px #fff;
    font-family: Consolas;
    margin-left: 10px;
}

p {
    font-size: 20px;
}